* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: 'Open Sans', sans-serif !important;
}

.page-preloader {
    background-color: #fff;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(75, 75, 75);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

body{
    width: 100%;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(to left, #ffc70094 0%, #bd2ac6a3 31%, #30bcae9c 100%), url(../Images/impresora3.jpg);
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    font-weight: 350;
    margin: 0 20px;
}

.header-container{
    max-width: 1300px;
    padding: 30px;
    margin: auto;
}

.txt-header{
    margin: 120px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.wave svg {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* transform: translate(-50%, -50%); */
    margin: 0;
    padding: 0;
}

ul li {
    transition: 0.5s;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 15px;
}

ul li span{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid white;
    transition: 0.3s;
}

ul li.prev span{
    top: 50%;
    left: 40%;
    transform: translateY(-50%) rotate(45deg);
    border-right: none;
    border-top: none;
}

ul li.prev span::before{
    content: '';
    transform-origin: left;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
    transform: rotate(-45deg) translate(-13px,10px) scaleX(0);
    transition: 0.3s;
}

ul li.prev:hover span::before{
    transform: rotate(-45deg) translate(-13px,10px) scaleX(1);
}

ul li.prev:hover span{
    left: 40%;
}

h2{
    font-size: 2.3rem;
    font-weight: 500;
}

h3{
    font-weight: 350;
    margin: 15px;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

body::-webkit-scrollbar {
    transition: 0.4s;
    width: 10px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    transition: 0.4s;
    background: linear-gradient(#be2ac6d0, #ffc800c5);
    border-radius: 5px; 
    border: 2px solid #fff;
}

body::-webkit-scrollbar-thumb:hover {
    transition: 0.4s;
    background: linear-gradient(#ffc800c5, #be2ac6d0);
}

/* -- Inputs -- */

.form{
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    padding: 1em;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 0px 3px 0px black;
    margin: 30px;
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h2{
    text-align: center;
    font-size: 2em;
    color: black;
    margin: 20px;
    font-weight: 600;
}

.form-input{
    transition: 0.5s;
    box-shadow: 0px 0px 2px 0px black;
    border: 0px;
    width: 100%;
    font-size: 0.8em;
    color: black;
    border-radius: 4px;
    padding: 5px 7px;
}

.form-input:focus-visible{
    border: 0px;
    outline: -webkit-focus-ring-color auto 0px !important;
    outline-offset: 0px;
    box-shadow: 0px 0px 4px 0px;
}

.form-cta{
    transition: ease-out 0.3s;
    color: white;
    background-image: linear-gradient(to left, #ffc800b2 0%, #be2ac6ce 31%, #30bcaec7 100%);
    border: none;
    border-radius: 4px;
    padding: 5px;
}

.form-cta:hover{
    transform: scale(0.95);
}